<section class="container even-columns">
  <div>
    <div class="img-container">
      <img src="assets/landinPage-illustration.png" alt="" />
    </div>

    <h2 class="fs-700 fw-bold">Welcome to PersonaProbe !</h2>
  </div>

  <div>
    <div class="info-block">
      <h4>About Assessment</h4>
      <p>
        This assessment is designed to help you gain insights into your
        personality traits and better understand yourself. By answering a series
        of thought-provoking questions, you'll uncover valuable information
        about your preferences, tendencies, and behavioral patterns. Discover
        whether you lean towards being an introvert or an extrovert and explore
        the unique strengths and characteristics associated with each
        personality type. Get ready to embark on a journey of self-discovery!
      </p>
    </div>

    <div class="info-block instructions-block">
      <h4>Instructions</h4>
      <ul>
        <li>
          Click the "Start Personality Test" button below to begin the
          assessment.
        </li>
        <li>
          Read each question carefully and select the answer that best resonates with you.
        </li>
        <li>
          Click "Finish Test" to view your personality type and insights.
        </li>
        <li>
          Reflect on how the insights can provide a deeper understanding of yourself.
        </li>
      </ul>
    </div>
    <span>
      <button class="button" routerLink="/test">Start Personality Test</button>
    </span>
  </div>
</section>
